
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Danh sách đơn hàng mới đặt</h5>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Số điện thoại</th>
                                <th scope="col">Tên khách hàng</th>
                                <th scope="col">Địa chỉ</th>
                                <th scope="col">lần mua</th>
                                <th scope="col">email</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>01</td>
                                <td>0932448830</td>
                                <td>Phạm Gia Kiệt</td>
                                <td>Phạm Đức Sơn, Q8, TP.HCM</td>
                                <td>12</td>
                                <td>giakietpham.2003@gmail.com</td>
                            </tr>
                            <tr>
                                <td>02</td>
                                <td>0932448830</td>
                                <td>Phạm Gia Kiệt</td>
                                <td>Phạm Đức Sơn, Q8, TP.HCM</td>
                                <td>12</td>
                                <td>giakietpham.2003@gmail.com</td>
                            </tr>
                            <tr>
                                <td>03</td>
                                <td>0932448830</td>
                                <td>Phạm Gia Kiệt</td>
                                <td>Phạm Đức Sơn, Q8, TP.HCM</td>
                                <td>12</td>
                                <td>giakietpham.2003@gmail.com</td>
                            </tr>
                            <tr>
                                <td>04</td>
                                <td>0932448830</td>
                                <td>Phạm Gia Kiệt</td>
                                <td>Phạm Đức Sơn, Q8, TP.HCM</td>
                                <td>12</td>
                                <td>giakietpham.2003@gmail.com</td>
                            </tr>
                            <tr>
                                <td>05</td>
                                <td>0932448830</td>
                                <td>Phạm Gia Kiệt</td>
                                <td>Phạm Đức Sơn, Q8, TP.HCM</td>
                                <td>12</td>
                                <td>giakietpham.2003@gmail.com</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

