
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Danh sách bài viết</h5>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Mã bài viết</th>
                                <th scope="col">Tên bài viết</th>
                                <th scope="col">Ngày đăng</th>
                                <th scope="col">Tài khoản</th>
                                <th scope="col">đã duyệt</th>
                                <th scope="col">Nhóm Lệnh</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>01</td>
                                <td>Xu hướng thời trang</td>
                                <td>01/11/2023</td>
                                <td>henry1219</td>
                                <td>true</td>
                                <td>
                                    <button class="btn btn-danger">Xóa</button>
                                    <button class="btn btn-primary">Vô hiệu</button>
                                    <button class="btn btn-success">Sửa</button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

