
<ul class="sidebar-menu do-nicescrol">
    <li class="sidebar-header">CHUNG</li>
    <li>
        <a href="/Category">
            <i class="zmdi zmdi-view-dashboard"></i> <span>Thông tin chung</span>
        </a>
    </li>

    @*<li>
            <a href="icons.html">
                <i class="zmdi zmdi-invert-colors"></i> <span>UI Icons</span>
            </a>
        </li>*@
    <li class="sidebar-header">BÀI VIẾT</li>
    <li>
        <a href="~/admin/NewArticle/Index">
            <i class="zmdi zmdi-invert-colors"></i> <span>Đăng bài viết</span>
        </a>
    </li>
    <li>
        <a href="~/Areas/admin/Views/Article/Index">
            <i class="zmdi zmdi-format-list-bulleted"></i> <span>Danh sách bài viết</span>
        </a>
    </li>
    <li class="sidebar-header">SẢN PHẨM</li>
    <li>
        <a href="tables.html">
            <i class="zmdi zmdi-group"></i> <span>Loại sản phẩm</span>
        </a>
    </li>
    <li>
        <a href="tables.html">
            <i class="zmdi zmdi-grid"></i> <span>Đăng sản phẩm</span>
        </a>
    </li>

    <li>
        <a href="tables.html">
            <i class="zmdi zmdi-desktop-mac"></i> <span>Tất cả sản phẩm</span>
        </a>
    </li>
    <li>
        <a href="tables.html">
            <i class="zmdi zmdi-desktop-mac"></i> <span>Sản phẩm đã duyệt</span>
        </a>
    </li>
    <li>
        <a href="tables.html">
            <i class="zmdi zmdi-desktop-mac"></i> <span>Sản phẩm chưa duyệt</span>
        </a>
    </li>
    <li class="sidebar-header">KHÁCH HÀNG</li>
    @*<li>
            <a href="calendar.html">
                <i class="zmdi zmdi-calendar-check"></i> <span>Calendar</span>
                <small class="badge float-right badge-light">New</small>
            </a>
        </li>*@

    <li>
        <a href="profile.html">
            <i class="zmdi zmdi-face"></i> <span>Thông tin khách hàng</span>
        </a>
    </li>
    <li class="sidebar-header">ĐƠN HÀNG</li>

    <li>
        <a href="profile.html">
            <i class="zmdi zmdi-archive"></i> <span>Đơn hàng mới</span>
        </a>
    </li>
    <li>
        <a href="profile.html">
            <i class="zmdi zmdi-spinner"></i> <span>Đơn hàng đang xử lý</span>
        </a>
    </li>
    <li>
        <a href="profile.html">
            <i class="zmdi zmdi-truck"></i> <span>Đơn hàng đang giao</span>
        </a>
    </li>
    <li>
        <a href="profile.html">
            <i class="zmdi zmdi-check-square"></i> <span>Đơn hàng đã hoàn thành</span>
        </a>
    </li>

    @*<li>
            <a href="login.html" target="_blank">
                <i class="zmdi zmdi-lock"></i> <span>Login</span>
            </a>
        </li>

        <li>
            <a href="register.html" target="_blank">
                <i class="zmdi zmdi-account-circle"></i> <span>Registration</span>
            </a>
        </li>*@

    @*<li class="sidebar-header">LABELS</li>
        <li><a href="javaScript:void();"><i class="zmdi zmdi-coffee text-danger"></i> <span>Important</span></a></li>
        <li><a href="javaScript:void();"><i class="zmdi zmdi-chart-donut text-success"></i> <span>Warning</span></a></li>
        <li><a href="javaScript:void();"><i class="zmdi zmdi-share text-info"></i> <span>Information</span></a></li>*@

</ul>

